.home-container {
  width: 100%;
  margin: 20px auto;

}

.clearfix {
  &::before {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
    display: table;
    content: ' ';
  }
}
